.info {
    background-color: #F3F3F3;
    padding: 5rem 0;
}

.info h4, .stars {
    text-align: center;
}

.info-bgr {
    background-color: #FFF;
    padding: 4rem;
}

.info-main {
    display: flex;
}

.info-main-photo {
    width: 100%;
    height: 25rem;
    background-image: url('../img/Мое\ фото_photo-resizer.ru.jpg');
    background-repeat: no-repeat;
    /* background-color: #4f7a40; */
}

.info-main-teacher {
    margin-left: 2rem;
}
.info-main-teacher-title {
    font-size: 20px;
    margin-bottom: 1rem;
}

.info-main-teacher-description-text {
    line-height: 1.5rem;
}